.BDE_Image{
	max-width: 100%;
	height: auto;
}
.BDE_Graffiti{
	max-width: 100%;
	height: auto;
}
.BDE_Meme{
	max-width: 100%;
	height: auto;
}
.BDE_Smiley{
	max-width: 100%;
	height: auto;
}
.BDE_Smiley2{
	max-width: 100%;
	height: auto;
}
.BDE_Smiley3{
	max-width: 100%;
	height: auto;
}
.BDE_Flash{
	max-width: 100%;
	height: auto;
}
.BDE_Music{
	max-width: 100%;
	height: auto;
}