<!DOCTYPE html>
<html>

<head>
    <title>
        链接警告
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <style>
        html {
            text-align: center;
        }
    </style>
</head>

<body>
    <h2 id="title">
        链接警告
    </h2>
    <br><br><br>
    <div>您正在访问的网站试图将您重定向到以下地址：</div>
    <input class="url" type="text" id="url" value="" readonly="true">
    <div class="operations">
        <a class="btn" id="copy" onclick="copy('url')">复制链接</a>
        <a class="btn" id="visit">访问</a>
    </div>
    <div>如果不需要访问，请直接关闭此页面</div>
    <script src="redirect.js"></script>
</body>

</html>